{% extends 'main/base.html' %}
{% load static %}
{% block main %}
    <div id="templatemo_right_column">
        
        <div id="templatemo_main">
        
            <div class="post_section">
            
                <span class="comment"><a href="fullpost.html">{{ all_comm }}</a></span>
            
                <h2>{{ post.title }}</h2>

                {{ post.published }} | <strong>Author:</strong> {{ post.author }} | <strong>Category:</strong> <a href="#"></a>
                
                <a href="{{ post.image.url }}" target="_parent"><img src="{{ post.image.url }}" alt="image" /></a>
                
              <p>{{ post.content }}</p>
                
		  </div>
            
            <div class="comment_tab">
           	    Comments <a>{% now "H : i : s" %}</a>           </div>
            
      <div id="comment_section">
                <ol class="comments first_level">
                        
                        <li>
                            {% if comments %}
                            {% for comment in comments %}
                            <div class="comment_box commentbox1">

                                <div class="comment_text">
                                    <div class="comment_author">{{ comment.author }}<span class="date">{{ comment.create_at }}</span></div>
                                    <p>{{ comment.content }}</p>
                                    <div>
                                        <ul>
                                            <li><div class="reply"><a href="#">Reply</a></div></li>
                                            <li><div class="reply"><a href="#">Redact</a></div></li>
                                            <li><div class="reply"><a href="#">Delete</a></div></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cleaner_h10"></div>
                            </div>
                                <div class="cleaner_h10"></div>
                            {% endfor %}
                            {% else %}
                            <div class="comment_box commentbox1">

                                <div class="comment_text">
                                    <p>Комментарии отсутсвуют</p>
                                </div>
                                <div class="cleaner"></div>
                            </div>
                            {% endif %}
                        </li>
                    </ol>
                </div>
                
                <div id="comment_form">
                    <h3>Leave a comment</h3>
                    
              		<form action="#" method="post">
                        {% csrf_token %}
                        <div class="form_row">
                            <label><strong>Name</strong> (required)</label>
           					<br />
                            {{ commentform.author }}
                        </div>

                        <div class="form_row">
                            <label><strong>Comment</strong></label>
           					<br />
                            {{ commentform.content }}
                        </div>
                            {{ commentform.post }}
                        <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                    </form>
                    
                </div>
      </div> <!-- end of main -->
    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  {% endblock %}